{% extends "base.html" %}
{% block app_content %}
<h2>Impressum</h2>
<p>Diese Webseite wurde im Rahmen einer Praxisarbeit für den Lehrgang "Techniker HF" der "ipso Bildung AG" erstellt. Das Projekt ist fiktiv und wird lediglich für einen beschränkten Zeitraum (1 Monat) im Internet erreichbar sein.</p>
<h3>Kontakt</h3>
<pre>
André Schmid
andre.schmid@student.ipso.ch</pre>
<h3>Copyrights</h3>
<h4>TMDB</h4>
<p>Diese Website verwendet die <a href="https://api.tmdb.org" target="new">API</a> der Webseite <a href="https://www.themoviedb.org/?language=de" target="new2">www.themoviedb.org</a> um Filme in der Datenbank anzulegen. Alle von dort verwendeten Elemente unterliegen den Rechten der jeweiligen Rechteinhaber.</p>
<h4>Materialdesign Icons</h4>
<p>Die Icons der Navigationselemente wurden von <a target="new3" href="https://materialdesignicons.com/">www.materialdesignicons.com</a> übernommen, und dürfen lizenzfrei verwendet werden.</p>
{% endblock %}
